.wrapper {
  display: grid;
  grid-template-areas: "hero hero hero" "team team team" "about about about"; }

.hero {
  background-size: cover;
  background: url(https://source.unsplash.com/collection/162213/3200x600) no-repeat center;
  min-height: 600px;
  grid-area: hero;
  display: grid;
  grid-gap: 20px; }

.hero__Content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.hero > * {
  background: var(--yellow);
  padding: 5px; }

.team {
  background: rgba(255, 198, 0, 0.8);
  display: grid;
  grid-area: team;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-areas: "title    title   title" "card1     card2    card3";
  grid-gap: 20px;
  text-align: center;
  justify-items: center;
  align-items: center; }

.team__Title {
  grid-area: title; }

.Cards {
  margin: 0 !important;
  margin-bottom: 20px !important;
  background: orange !important;
  padding: 5px; }

.team__Card1 {
  grid-area: card1;
  margin: 0; }

.team__Card2 {
  grid-area: card2;
  margin: 0; }

.team__Card3 {
  grid-area: card3;
  margin: 0; }

.about {
  grid-area: about; }
